@model IEnumerable<BusinessLayer.ViewModels.SubTaskViewModel>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubTodoStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SubTodoStatus)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditSubTask", "SubTask", new {  id=item.Id }) |
                @Html.ActionLink("Details", "GetById", "SubTask", new {  id=item.Id }) |
                @Html.ActionLink("Delete", "DeleteSubTask","SubTask", new {  id=item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
